.productsContainer{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    
    width: 90%;
    margin: auto;

    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.productsTitle{
    text-align: center;
    padding: 30px 30px 0px 30px;
    font-style: italic;
    font-size: 40px;
}

.itemListContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    padding: 20px;
}

.itemList{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    margin: 20px 0px 20px 0px;

    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.itemId{
    font-weight: bold;
}

.itemTitle{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 350px;
    height: 78px;
    padding: 10px;
    font-size: 20px;
    font-style: italic;
}

.itemImage{
    width: 350px;
    height: 440px;
    transition: all 1s;
}
.itemImage:hover{
    transform: scale(0.9,0.9);
    transition: all 1s;
}

.itemPrice{
    color: olivedrab;
    font-size: 25px;
    font-weight: bold;
    padding: 0px 0px 10px 0px;
}

.itemBuy{
    background-color: black;
    color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    width: 100%;
    padding: 20px;
}

.itemBuy span{
    cursor: pointer;
    padding: 15px;
    transition: all 0.5s;
}
.itemBuy span:hover{
    color: #EBA272;
    background-color: black;
    box-shadow: inset 0 0 0 5px #EBA272;
}