.itemCountContainer{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    color: black;
}

.itemCountContainer span{
    margin: 10px;
    padding: 3px 10px 3px 10px;

    cursor: pointer;

    background-color: white;
}