.footerTitle {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    background-color: white;

    width: 90%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    font-size: 18px;
    font-style: italic;
}