/*Menu*/
.navbar{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: white;
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navbarNotAllowed{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: white;
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navbarNotAllowed a{
    padding: 20px 40px 20px 40px;
    font-size: 20px;
    font-weight: bold;
    pointer-events: none;
    transition: all 1s;
    text-decoration: none;
    color: black;
}

.navbarNotAllowed > ul > li{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    cursor: not-allowed;
    width: 230px;
    text-align: center;
}

.navbarNotAllowed li:hover > .navbarSubMenu li{
    opacity: 0;
    display: none;
}

.navbar a{
    padding: 20px 40px 20px 40px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 1s;
    text-decoration: none;
    color: black;
    display: block;
    text-decoration: none;
}

.navbar a:hover{
    color: #EBA272;
    background-color: black;
    box-shadow: inset 0 0 0 10px #EBA272;
}