.shoppingCart{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    
    width: 90%;
    min-height: 500px;
    margin: auto;

    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.shoppingCartEmpty{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.shoppingCartEmpty h3{
    padding: 50px;
    font-size: 35px;
    font-style: italic;
}

.itemCartFinal{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin: 25px 55px 25px 55px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.itemCartFinal h3{
    width: 200px;
}

.itemCartFinal img{
    width: 180px;
    height: 230px;
}

.shoppingCart h2{
    text-align: center;
    font-style: italic;
    font-size: 35px;
    padding: 20px;
}

.shoppingCart button{
    background-color: black;
    color: white;
    padding: 20px;
    margin: 10px;
    width: 200px;
    font-size: 16px;
    font-style: italic;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
}

.shoppingCart button:hover{
    color: #EBA272;
    background-color: black;
    box-shadow: inset 0 0 0 10px #EBA272;
}

.shoppingFinalPrice{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.shoppingCartButtons{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
}