/*La hora es*/
.clock{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.clock h3{
    font-size: 21px;
    font-style: italic;
    transition: all 0.8s;
}

.clock h3:hover{
    color: #EBA272;
}

/*Contenedor de Productos*/
.productsContainer{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    
    width: 90%;
    margin: auto;

    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.itemTitle{
    text-align: center;
    padding: 30px;
    font-style: italic;
}

.itemListContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    padding: 20px;
}

.itemList{
    display: flex;
    flex-flow: column wrap;

    padding: 20px;

    background-color: white;
}