.itemContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    
    height: 670px;
    width: 90%;
    margin: auto;

    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.itemShow{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.itemShowNav{
    display: flex;
    flex-flow: column wrap;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.itemImg{
    width: 320px;
    height: 400px;
    transition: all 1s;
}
.itemImg:hover{
    transform: scale(1.1,1.1);
}

.subItemImg{
    width: 110px;
    height: 130px;
    margin: 12px;
    transition: all 1s;
}
.subItemImg:hover{
    transform: scale(1.1,1.1);
}

.itemInfo{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

.itemInfo h2{
    font-style: italic;
}

.itemInfo p, h4{
    font-style: italic;
    padding: 0px 20px 0px 20px;
    margin: 0px 20px 0px 20px;
}

.itemInfo h4{
    font-size: 25px;
    color: olivedrab;
}

.itemInfoCategory{
    display: flex;
    flex-flow: row wrap;
}

.itemBtn{
    color: black;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    width: 100%;

    font-size: 18px;
    font-style: italic;
}

.itemBtn button{
    background-color: white;
    width: 200px;
    border: 1px solid black;
    cursor: pointer;
    padding: 15px;
    transition: all 0.7s;
    font-size: 18px;
    font-style: italic;
}

.itemBtn button:hover{
    color: #EBA272;
    background-color: black;
    box-shadow: inset 0 0 0 5px #EBA272;
}

.itemCountContainer button{
    border: none;
}

/* ItemDetail desactivar/activar */
.itemBtnActive{
    color: black;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    width: 100%;

    font-size: 18px;
    font-style: italic;
    pointer-events: none;
}

.itemBtnActive button{
    font-size: 18px;
    font-style: italic;
    border: none;
    background-color: white;
    padding: 15px;
    color: gray;
    opacity: 0.5;
}

.itemBtnActive span{
    color: gray;
    opacity: 0.5;
}

/* ItemCount desactivar/activar */
.itemBtnActived{
    opacity: 0.1;
    color: gray;
    pointer-events: none;
}

@media (max-width: 1150px) {
    .itemShowNav {
        display: none;
    }
}