.contactContainer {
    position: relative;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.contactContainerForm {
    width: 100%;
    background-color: black;
    z-index: 1000;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contactForm {
    background-color: #EBA272;
    position: relative;
}

.contactForm:before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: #EBA272;
    transform: rotate(45deg);
    top: 50px;
    left: -13px;
}

.contactForm form {
    padding: 2.3rem 2.2rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
}

.contactFormTitle {
    color: black;
    font-weight: bold;
    font-style: italic;
    font-size: 25px;
    margin-bottom: 0.7rem;
}

.contactInputContainer {
    display: flex;
    flex-flow: column wrap;
    position: relative;
    margin: 18px 0px 18px 0px;
    background-color: antiquewhite;
}

.contactInputContainer small {
    width: 100%;
    color: red;
    background-color: #EBA272;
    font-size: 14px;
    font-style: italic;
}

.contactInputContainer input {
    width: 100%;
    outline: none;
    border: 0px solid black;
    background: none;
    padding: 15px;
    color: black;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    transition: 0.3s;
}

.contactInputContainer input::placeholder{
    color: black;
    background-color: antiquewhite;
}

.contactInputContainer textarea {
    outline: none;
    border: 0px solid black;
    background: none;
    color: black;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    padding: 0.8rem 1.2rem;
    width: 100%;
    min-height: 150px;
    resize: none;
    overflow-y: auto;
}

.contactFormBtn {
    border: none;
    background-color: black;
    color: white;
    font-size: 16px;
    font-style: italic;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 20px;
    width: 200px;

    cursor: pointer;
    transition: all 0.5s;
}

.contactFormBtn:hover {
    background-color: black;
    color: #EBA272;
    box-shadow: inset 0 0 0 10px wheat;
}

.contactInfo {
    padding: 2.3rem 2.2rem;
    text-align: justify;
}

.contactInfoTitle {
    color: #EBA272;
}

.contactInfoText {
    color: white;
    margin: 1.5rem 0 2rem 0;
}

.information {
    display: flex;
    color: white;
    margin: 0.7rem 0;
    padding: 5px;
    align-items: center;
    font-size: 0.95rem;
}

.information p{
    padding-left: 10px;
}

.contactSocialMedia {
    padding: 2rem 0 0 0;
}

.contactSocialMedia p {
    color: white;
}

.contactSocialIcons {
    display: flex;
    margin-top: 0.5rem;
}

.contactSocialIcons i {
    width: 45px;
    height: 45px;
    border-radius: 5px;
    text-align: center;
    line-height: 55px;
    margin-right: 0.5rem;
    transition: 0.3s;
}