.container {
    position: relative;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form {
    width: 100%;
    background-color: black;
    z-index: 1000;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contact-form {
    background-color: #EBA272;
    position: relative;
}

.contact-form:before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: #EBA272;
    transform: rotate(45deg);
    top: 50px;
    left: -13px;
}

form {
    padding: 2.3rem 2.2rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
}

.title {
    color: black;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0.7rem;
}

.input-container {
    position: relative;
    margin: 1rem 0;
}

.input-container small {
    color: red;
    font-size: 14px;
    font-style: italic;
}

.input {
    width: 100%;
    outline: none;
    border: 1px solid black;
    background: none;
    padding: 0.6rem 1.2rem;
    color: black;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    transition: 0.3s;
}

.input::placeholder{
    color: black;
}

textarea.input {
    padding: 0.8rem 1.2rem;
    min-height: 150px;
    resize: none;
    overflow-y: auto;
}

.btn {
    border: none;
    background-color: black;
    color: white;
    font-size: 16px;
    font-style: italic;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 20px;
    width: 200px;

    cursor: pointer;
    transition: all 0.5s;
}

.btn:hover {
    background-color: black;
    color: #EBA272;
    box-shadow: inset 0 0 0 10px gray;
}

.contact-info {
    padding: 2.3rem 2.2rem;
    text-align: justify;
}

.contact-info .title {
    color: #EBA272;
}

.text {
    color: white;
    margin: 1.5rem 0 2rem 0;
}

.information {
    display: flex;
    color: white;
    margin: 0.7rem 0;
    padding: 5px;
    align-items: center;
    font-size: 0.95rem;
}

.information p{
    padding-left: 10px;
}

.social-media {
    padding: 2rem 0 0 0;
}

.social-media p {
    color: white;
}

.social-icons {
    display: flex;
    margin-top: 0.5rem;
}

.social-icons i {
    width: 45px;
    height: 45px;
    border-radius: 5px;
    text-align: center;
    line-height: 55px;
    margin-right: 0.5rem;
    transition: 0.3s;
}

@media (max-width: 850px) {
    .form {
        grid-template-columns: 1fr;
    }

    .contact-info:before {
        bottom: initial;
        top: -75px;
        right: 65px;
        transform: scale(0.95);
    }

    .contact-form:before {
        top: -13px;
        left: initial;
        right: 70px;
    }

    .text {
        margin: 1rem 0 1.5rem 0;
    }

    .social-media {
        padding: 1.5rem 0 0 0;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 1.5rem;
    }

    .contact-info:before {
        display: none;
    }

    form,
    .contact-info {
        padding: 1.7rem 1.6rem;
    }

    .text,
    .information,
    .social-media p {
        font-size: 0.8rem;
    }

    .title {
        font-size: 1.15rem;
    }

    .social-icons a {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }

    .icon {
        width: 23px;
    }

    .input {
        padding: 0.45rem 1.2rem;
    }

    .btn {
        padding: 0.45rem 1.2rem;
    }
}